.button-onn {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 150px;
}

.items {
  display: flex;
  min-width: 100px;
  overflow: scroll;
}

.items img {
  display: flex;
  justify-content: center;
  margin: 50px;
  width: 200px;
}
