.footer {
  background-image: linear-gradient(to right, #99CCFF, #dd8deb);
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 3px 3px 10px;
  position: fixed;
  text-align: center;
  width: 100vw;
}

.footer a{
  align-items: center;
  background: none;
  color: black;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: space-evenly;
  margin: auto;
  opacity: 85%;
  text-decoration: none;
  width: 3%;
  z-index: 2;
}

.footer button{
  align-items: center;
  background: none;
  color: black;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: space-evenly;
  margin: auto;
  opacity: 85%;
  text-decoration: none;
  width: 3%;
}

.footer img {
  height: 45px;
  width: 45px;
}