.main-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: green;
}

.teste-css {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: red;
  color: red;
}