#search-bar {
  display: flex;
  margin: auto;
  width: 50%;
  height: 100%;
  align-items: center;
  align-content: space-between;
}

#search-bar input {
  display: flex;
  /* border-radius: 8px;
  display: block;
  margin: auto;
  padding: 4px; */
}
/* 
#search-bar label {
  display: contents;
  justify-content: space-evenly;
  padding: 16px;
  text-align: center;
}

#search-bar button {
  background-color: rgb(8, 196, 253);
  color: black;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 4px;
}

#search-bar button:hover {
  background-color: rgb(1, 68, 92);
  color: white;
} */